* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: flex-end;
  align-content: center;
  margin: 100px 100px;
  padding: 10px 10px;
}
.count--el {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}
.btn {
  height: 50px;
  width: 50px;
  border: 0;
  background-color: #737373;
  color: #d9d9d9;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
}
.counter--minus {
  margin-right: -20px;
  z-index: 1;
}
.counter--plus {
  margin-left: -20px;
}
